pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "PBI DS Refresh",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PBI DS Refresh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "EmailNotificition_PBIDSRefresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "PBI DS Refresh",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-159.westeurope.logic.azure.com:443/workflows/d4e921696d6b4c90be4875dae6a42580/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sSD3uRoTQa0fclfsQN-1txzuH4XHFwjmzkPOJ_gN-7E",
					"method": "POST",
					"body": {
						"value": "\"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}. Data Factory Name: @{pipeline().DataFactory},\n\npipelineName: @{pipeline().Pipeline}.\nWith the message: @{activity('PBI DS Refresh').error.message}\"",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}